<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095123624220-kraq52pfes1ir8kv43f9mgn9m5rk3v32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095123624220-kraq52pfes1ir8kv43f9mgn9m5rk3v32</string>
	<key>API_KEY</key>
	<string>AIzaSyBFm_eS-jECxx88o13ew7xcIZdqli6kRx8</string>
	<key>GCM_SENDER_ID</key>
	<string>1095123624220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.softment.MyArea</string>
	<key>PROJECT_ID</key>
	<string>myarea-26d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>myarea-26d5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095123624220:ios:348e9dade8d80b2152dad9</string>
</dict>
</plist>